@media screen and (min-width: 1200px) {
    .Time {
        font-size: 40px;
        color: aliceblue;
    }

    .Container {
        background-color: rgb(58, 58, 223);
        text-align: center;
        width: 400px;
        margin-top: 60px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .Time {
        font-size: 30px;
        color: aliceblue;
    }

    .Container {
        background-color: rgb(58, 58, 223);
        text-align: center;
        width: 340px;
        margin-top: 60px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .Time {
        font-size: 26px;
        color: aliceblue;
    }

    .Container {
        background-color: rgb(58, 58, 223);
        text-align: center;
        width: 280px;
        margin-top: 60px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 767px) {
    .Time {
        font-size: 24px;
        color: aliceblue;
    }

    .Container {
        background-color: rgb(58, 58, 223);
        text-align: center;
        width: 240px;
        margin-top: 60px;
        border-radius: 10px;
    }
}