@media screen and (min-width: 1200px) {
    .MyPet {}
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 767px) {}
